
.body{
    background-color: #31393C
    ;}
.container{
    background-color:#4C5156
    ;margin:200px;}
.top-nav ul{
    display: flex;
    list-style: none;
    margin: 25px 0px 0px 15px;
    
}
ul li  a{
    
    margin-left:28px;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    color: white;
}
#main{
    margin:10px;
    margin-top:30px;
    background-color: #CEDFED ;
    border-radius: 5px;
    max-width:600px;
}

#left{
    margin:10px;
    background-color: #CEDFED ;
    border-radius: 5px;
}
#right{
    margin:10px;
    background-color: #CEDFED ;
    border-radius: 5px;
}

a{
    color: white;
}
a:hover{
    color: #68C9F9;
}
h1{
    color: #D00672;
}
#a{background-color:  #697077;}
#b{background-color: #39A0ED;}
#c{background-color: #68C9F9;}
#d{background-color: #CEDFED;}

#footer{
    display:inline-block;
    background: #0e3a47; /* Old browsers */
    background: -moz-linear-gradient(top, #0e3a47 0%, #007799 53%, #007799 53%, #00b7ea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0e3a47 0%,#007799 53%,#007799 53%,#00b7ea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0e3a47 0%,#007799 53%,#007799 53%,#00b7ea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e3a47', endColorstr='#00b7ea',GradientType=0 ); /* IE6-9 */
}
.brands{
    width:200px;
    height: auto;
    margin:10px 5px 10px 5px;
}
#immage{
font-size: 35px;
}
#guide{
margin-top:65px;
}
#bottom{
     margin:10px;
    margin-top:30px;
    background-color: #CEDFED ;
    border-radius: 5px;
}